/* Reset some default styles */
body, h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #49d5b7;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    background-color: #050505;
    color: #1beeb9;
    padding: 20px;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .menu {
    list-style-type: none;
  }
  
  .menu li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .menu li a {
    color: #bab4b4;
    text-decoration: none;
  }
  
  /* Main content styles */
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #f7ecec;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #f7f1f1;
  }
  
  h4 {
    font-size: 16px;
    color: #f9f7f7;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 10px;
    color: #faf7f7;
  }
  
  .experience-item, .education-item, .project-item {
    margin-bottom: 20px;
    background-color: #9d9999;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(215, 212, 212, 0.1);
  }
  
  .experience-item h3, .education-item h3, .project-item h3 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;
  }
  .photo-container img {
    max-width: 10%;
    border-radius: 10%;
  }
  
  
  .skills-list li {
    display: inline-block;
    background-color: #6d6767;
    color: #080808;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  /* Footer styles */
  footer {
    background-color: #0e0c39;
    color: #ee731b;
    text-align: center;
    padding: 10px;
  }
  